<div class="container" style="margin-top: 5%;">
    <h1 class="text-center mb-3">Share URL</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Please enter the link you'd like to share" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-primary" type="submit">Shrink</button>
    </form>
    
    <table class="table ">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>